<section>
    <div class="add-new">
        <button (click)="show_new_task_modal = true"><i class="fa-solid fa-plus"></i> New Task</button>
    </div>
    <div class="tracker">
        <div>
            <div class="tracker-title open">
                <p>Pending</p>
            </div>
            <div
                class="tasks-container open-cont">
                <div class="search">
                    <input type="text" placeholder="Search task here" [(ngModel)]="search_pending">
                </div>
                @for (task of filterTasks('pending'); track task) {
                    <div class="task task-open" (click)="viewTask(task); show_task = true">
                        <h4>{{task.title}}</h4>
                        <p>{{ task.description.length > 200 ? task.description.substring(0, 200) + '...' : task.description }}</p>
                        <div class="task-footer">
                            <p>Due date: {{task.due_date | date: 'dd/MM/yyyy'}}</p>
                            <p>Priority: {{task.priority | titlecase}}</p>
                        </div>
                        <p>Status: {{task.status | titlecase}}</p>
                    </div>
                }
            </div>
        </div> 
        <div>
            <div class="tracker-title pending">
                <p>In progress</p>
            </div>
            <div
                class="tasks-container pending-cont">
                <div class="search">
                    <input type="text" placeholder="Search task here" [(ngModel)]="search_progress">
                </div>
                @for (task of filterTasks('in progress'); track task) {
                    <div class="task task-open" (click)="viewTask(task); show_task = true">
                        <h4>{{task.title}}</h4>
                        <p>{{ task.description.length > 200 ? task.description.substring(0, 200) + '...' : task.description }}</p>
                        <div class="task-footer">
                            <p>Due date: {{task.due_date | date: 'dd/MM/yyyy'}}</p>
                            <p>Priority: {{task.priority | titlecase}}</p>
                        </div>
                        <p>Status: {{task.status | titlecase}}</p>
                    </div>
                }
            </div>
        </div>
        <div>
            <div class="tracker-title closed">
                <p>Completed</p>
            </div>
            <div class="tasks-container closed-cont">
                <div class="search">
                    <input type="text" placeholder="Search task here" [(ngModel)]="search_completed">
                </div>
                @for (task of filterTasks('completed'); track task) {
                    <div class="task task-open" (click)="viewTask(task); show_task = true">
                        <h4>{{task.title}}</h4>
                        <p>{{ task.description.length > 200 ? task.description.substring(0, 200) + '...' : task.description }}</p>
                        <div class="task-footer">
                            <p>Due date: {{task.due_date | date: 'dd/MM/yyyy'}}</p>
                            <p>Priority: {{task.priority | titlecase}}</p>
                        </div>
                        <p>Status: {{task.status | titlecase}}</p>
                    </div>
                    
                }
            </div>
        </div>
       
    </div>

</section>

<!-- new task modal -->
<div class="modal-holder" *ngIf="show_new_task_modal">
    <div class="form-holder">
        <div class="close">
            <i class="fa-solid fa-xmark" (click)="show_new_task_modal = false"></i>
        </div>
        <h2>New task</h2>
        <form [formGroup]="taskForm">
            <div class="form-input mb-3">
                <label for="title">Title</label>
                <input type="text" placeholder="Title" class="form-control"  autocomplete="off" formControlName="title"  [ngClass]="{'required': taskForm.get('title')?.touched && taskForm.get('title')?.invalid}">
            </div>
            <div class="form-input mb-3">
                <label for="desc">Description</label>
                <textarea name="desc" id="desc" cols="30" rows="" placeholder="Enter task description here" class="form-control" formControlName="description"  [ngClass]="{'required': taskForm.get('description')?.touched && taskForm.get('description')?.invalid}" autocomplete="off"></textarea>
            </div>
            <div class="form-input mb-3">
                <label for="date">Due date</label>
                <input type="date" id="date" formControlName="due_date">
            </div>
            <div class="form-input mb-3">
                <label for="date">Priority</label>
                <div class="radio-input">
                    <input type="radio" formControlName="priority" id="high"  value="high">
                    <label for="high">High</label><br>
                    <input type="radio" formControlName="priority" id="mid"  value="mid">
                    <label for="mid">Mid</label><br>
                    <input type="radio" formControlName="priority" id="low"  value="low">
                    <label for="low">Low</label><br>
                </div>
            </div>
            <div class="form-input mb-3">
                <label for="date">Status</label>
                <div class="radio-input">
                    <input type="radio" formControlName="status" id="pending"  value="pending">
                    <label for="pending">Pending</label><br>
                    <input type="radio" formControlName="status" id="in progress"  value="in progress">
                    <label for="in progress">In progress</label><br>
                    <input type="radio" formControlName="status" id="completed"  value="completed">
                    <label for="completed">Completed</label><br>
                </div>
            </div>
        </form>
        <div  class="add-btn">
            <button (click)="AddTask()" [disabled]="!taskForm.valid || is_operation_in_progress"><i class="fa-solid fa-floppy-disk"></i> Add</button>
        </div>
    </div>
</div>

<!-- view task -->
<div class="modal-holder" *ngIf="show_task">
    <div class="form-holder">
        <div class="close">
            <i class="fa-solid fa-xmark" (click)="show_task = false"></i>
        </div>
        <div class="task-view">
            <h4>{{task.title}}</h4>
            <p class="desc-view">{{task.description}}</p>
            <div class="task-footer">
                <p>Due date: {{task.due_date | date: 'dd/MM/yyyy'}}</p>
                <p>Priority: {{task.priority | titlecase}}</p>
            </div>
            <p>Status: {{task.status | titlecase}}</p>
        </div>
        <div class="task-action">
            <button class="delete-btn" (click)="deleteTask(task)">Delete</button>
            <button class="update-btn" (click)="updateTask(task)">Update</button>
        </div>
    </div>
</div>