<section>
    <div class="tracker">
        <div>
            <div class="tracker-title open">
                <p>Open</p>
            </div>
            <div class="tasks-container open-cont">
                <div class="task">
    
                </div>
            </div>
        </div> 
        <div>
            <div class="tracker-title pending">
                <p>Pending</p>
            </div>
            <div class="tasks-container closed-cont">
                <div class="task">

                </div>
            </div>
        </div>
        <div>
            <div class="tracker-title closed">
                <p>Closed</p>
            </div>
            <div class="tasks-container closed-cont">
                <div class="task">

                </div>
            </div>
        </div>
       
    </div>
    
</section>
