<section>
    @if (current_view === 'signin') {
      <div class="form-holder">
        <h5>Log in</h5>
        <form class="form-floating">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <span class="forget-pass">Forgot password?</span>
        </form>
        <div class="btn-cont">
          <button class="button button-1 hover-filled-opacity" (click)="signIn()">
            <span>Sign in</span>
          </button>
        </div>
        <div class="line"></div>
        <p class="buttom-text">Don't have an account? <a (click)="current_view = 'signup'">Sign in.</a></p>
    </div>
    } @else {
      <div class="form-holder">
        <h5>Sign up</h5>
        <form class="form-floating">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <span class="forget-pass">Forgot password?</span>
        </form>
        <div class="btn-cont">
          <button class="button button-1 hover-filled-opacity">
            <span>Sign up</span>
          </button>
        </div>
        <div class="line"></div>
        <p class="buttom-text">Have an account? <a (click)="current_view = 'signin'">Sign in.</a></p>
    </div>
    }
</section>
